:host {
  .app {
    width: 436px;

    @media only screen and (max-width: 436px) {
      width: 100%;
    }

    &-logo {
      margin-bottom: 30px;

      img {
        width: 100%;
      }
    }

    &-form {
      .mat-form-field {
        border-radius: 4px;
        padding: 0 12px;
        border: 1px solid grey;
        width: 100%;
      }
    }

    &-banner {
      border-radius: 4px;
      min-height: 54px;
      padding: 24px 32px;

      &.success {
        background: #4caf50!important;
        margin-top: 40px;
      }

      &.error {
        background: #b92a2a!important;
        position: absolute;
        padding: 8px 16px;
        bottom: 20px;
        left: 0;
        right: 0;
        width: calc(436px - 8%);
        margin: auto;
        min-height: inherit !important;

        @media only screen and (max-width: 436px) {
          width: 80%;
        }

        p {
          font-size: 12px !important;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;

        .infos {
          &:not(:last-of-type) {
            margin-bottom: 20px;
          }

          * {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
            letter-spacing: 0.01786em;
            color: white;
            margin: 0;
          }

          h3 {
            font-weight: bold;
          }
        }
      }
    }
  }
}
