<div class="app container">
  <div class="app-logo">
    <img src="assets/cedoc.33aa6384.png" />
  </div>
  <form class="app-form" [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>Test ID</mat-label>
      <input type="number" (change)="checkID(form)" matInput formControlName="test_id" #test_idInput>
    </mat-form-field>
  </form>

  <div role="alert" class="app-banner error" *ngIf="not_exist">
    <div class="app-banner__content">
      <div class="infos">
        <p>
          Test ID não reconhecido | Unrecognized Test ID
        </p>
      </div>
    </div>
  </div>

  <div role="alert" class="app-banner success" *ngIf="exist">
    <div class="app-banner__content">
      <div class="infos">
        <h3>
          Corona Virus [SARS-CoV-2] Negativo | Negative
        </h3>
      </div>

      <div class="infos">
        <h3>
          Data da Colheita | Sampling Date:
        </h3>
        <p>
          2022-08-11 09:13:08
        </p>
      </div>

      <div class="infos">
        <h3>
          Data do Relatório | Report Date:
        </h3>
        <p>
          2022-08-11 13:15:24
        </p>
      </div>
    </div>
  </div>
</div>
