/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body, main { height: 100%; }
main {
  min-height: 378px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
